@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    src: local("Avenir Roman"), url("avenir_roman_12.woff") format("woff");
}
@font-face {
    font-family: Avenir;
    src: url(https://static-assets.bamgrid.com/fonts/avenir-world/AvenirWorld-Demi.46e9d5864ff91e13275000330f3c2b74.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Avenir;
    src: url(https://static-assets.bamgrid.com/fonts/avenir-world/AvenirWorld.ca722da1c78901cdb9b2d63c4b3525b8.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

main, footer .logo {
    display: block;
}

h1, h2, h3, h5 {
    margin-top: 0;
    color: #f9f9f9;
}

html, a.secondary, .nav.post-sticky {
    background-color: #040714;
}

body {
    color: silver;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 26px;
    margin: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body, h5 {
        font-size: 18px;
        line-height: 28px;
    }
    h1 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 28px;
        line-height: 38px;
    }
    h3 {
        font-size: 24px;
        line-height: 34px;
    }
    h2, h3, h5 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 20px;
    }
    .medium {
        font-size: 16px;
        line-height: 26px;
    }
    .small {
        font-size: 15px;
        line-height: 25px;
    }
    .fine, .footnote {
        font-size: 12px;
        line-height: 22px;
    }
    section {
        padding: 10vw 5vw;
    }
    .grid-item.card {
        padding: 60px 36px 0;
    }
    picture.md-160 {
        max-width: 160px;
    }
    .hero {
        min-height: 70vh;
        padding: 40vw 5vw 10vw;
    }
    .hero.md-align-center {
        justify-content: center;
    }
    .hero.md-align-left {
        justify-content: flex-start;
    }
    .hero .background.md {
        background-position: top;
        background-size: 100%;
        display: block;
    }
    .hero.md-align-center .hint {
        left: auto;
        margin: 0 auto;
    }
    .hero.md-align-left .hint {
        left: 5vw;
        margin-left: -14px;
    }
    .hero picture {
        margin-bottom: 3vw;
    }
    .hero .content {
        max-width: 600px;
        width: 100%;
    }
    .hero .content.container-medium {
        max-width: 600px;
    }
    .hero.tablet-pushdown-large {
        padding-top: 50vw;
    }
    .md-text-center {
        align-items: center;
        text-align: center;
    }
    .md-text-center picture {
        margin-left: auto;
        margin-right: auto;
    }
    picture.md-320 {
        max-width: 320px;
    }
}
p {
    margin: 0 0 24px;
}
h1 {
    font-size: 26px;
    line-height: 36px;
}
h1, h2, h3 {
    font-weight: 700;
    letter-spacing: normal;
}
h2 {
    font-size: 24px;
    line-height: 34px;
}
h3 {
    font-size: 22px;
    line-height: 32px;
}
h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

@media only screen and (min-width: 1025px) {
    body, h5 {
        font-size: 20px;
        line-height: 30px;
    }
    h1 {
        font-size: 44px;
        line-height: 54px;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
    }
    h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .medium {
        font-size: 18px;
        line-height: 28px;
    }
    .small {
        font-size: 16px;
        line-height: 26px;
    }
    .fine, .footnote {
        font-size: 12px;
        line-height: 22px;
    }
    .grid-item.card {
        padding: 60px 44px 0;
    }
    picture.lg-180 {
        max-width: 180px;
    }
    .hero.lg-align-center {
        justify-content: center;
    }
    .hero.lg-align-left {
        justify-content: flex-start;
    }
    .hero .background.lg {
        background-position: 50%;
        background-size: cover;
        display: block;
    }
    .hero picture {
        margin-bottom: 2vw;
    }
    .hero .content {
        max-width: 640px;
    }
    .hero .content.container-medium {
        max-width: 640px;
    }
    .hero.desktop-pushdown-none {
        padding-top: 5.6vw;
    }
    .lg-text-center {
        align-items: center;
        text-align: center;
    }
    .lg-text-center picture {
        margin-left: auto;
        margin-right: auto;
    }
    picture.lg-320 {
        max-width: 320px;
    }
}


@media only screen and (max-width: 479px) {
    h1 {
        margin-bottom: 24px;
    }
    h2, h3, h5 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 20px;
    }
    .nav {
        height: 52px;
    }
    .nav .secondary {
        font-size: 14px;
        letter-spacing: 0;
        text-transform: none;
    }
    .nav a.secondary {
        font-size: 13px;
        line-height: 15px;
        text-transform: capitalize;
    }
}
@media only screen and (max-width: 1024px) {
    h3 {
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 1440px) {
    h3 {
        margin-bottom: 24px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    h3 {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1921px) {
    h3 {
        margin-bottom: 28px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    h1 {
        margin-bottom: 24px;
    }
    h2, h3, h5 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
    h1 {
        margin-bottom: 30px;
    }
    h2, h3, h5 {
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1921px) {
    h1 {
        margin-bottom: 34px;
    }
    h2, h3, h5 {
        margin-bottom: 28px;
    }
    p {
        margin-bottom: 24px;
    }
}

.medium {
    font-size: 15px;
    line-height: 25px;
}
.small {
    font-size: 14px;
    line-height: 24px;
}
.fine, .footnote {
    font-size: 11px;
    line-height: 21px;
}
a, a:focus, a:hover, a.link, footer a.link:hover {
    color: #f9f9f9;
}
a:active {
    opacity: 0.8;
}
a.link {
    text-decoration: underline;
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
}
.mobile-two-column .grid-item {
    flex: 0 0 calc(50% - 12px);
}
.spacer-10 {
    height: 0;
    width: 100%;
    margin-top: 25px;
}
a.primary.large {
    max-width: 540px;
    padding: 11.5px 24px;
}
a.backgroundColorOverride:focus.textColorDark,
a.backgroundColorOverride:hover.textColorDark {
    filter: brightness(0.8);
}
a.backgroundColorOverride:focus:not(.textColorDark),
a.backgroundColorOverride:hover:not(.textColorDark) {
    filter: brightness(1.2);
}
.nav a.secondary {
    height: 40px;
    max-width: none;
    width: auto;
    padding-left: 8px;  
    padding-right: 8px;
}

@media only screen and (min-width: 769px) {
    a.primary, a.secondary {
        font-size: 18px;
        line-height: 18px;
        height: 60px;
        margin-bottom: 20px;
        max-width: 360px;
        padding: 16.5px 24px;
    }
    .four-column .grid-item {
        flex: 0 0 calc(25% - 18px);
    }
    .three-column .grid-item {
        flex: 0 0 calc(33.3% - 16px);
    }
    .grid-item.card {
        margin-top: 0;
    }
    .grid-item.card > * {
        margin-top: 28px;
    }
    a.secondary.small {
        height: 50px;
        max-width: 260px;
        padding: 8px 14px;
    }
    a.primary *, a.secondary * {
        margin-top: 3px;
    }
    .sidealign.side-by-side:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .sidealign.side-by-side.text-container-right {
        flex-direction: row;
    }
    .sidealign.side-by-side .sidealign-image,
    .sidealign.side-by-side .text-container {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sidealign.overlay .sidealign-image {
        position: relative;
    }
    
    .sidealign.overlay .text-container {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 5vw;
        top: 0;
        width: calc(50% - 5vw);
    }
    .sidealign.overlay.text-container-right .text-container {
        left: 50%;
    }
    .nav a.secondary {
        height: 50px;
        max-width: 260px;
        max-width: none;
        text-transform: uppercase;
        padding-left: 16px;
        padding-right: 16px;
    }
    div.spacer-10 {
        margin-top: 40px;
    }
    .one-column .grid-item {
        flex: 0 0 100%;
    }
}

.typeramp-avenir {
    font-family: Avenir, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.middle {
    justify-content: center;
}
.both-ends {
    justify-content: space-between;
}
.center {
    text-align: center;
}
ul:not(.grid-list) {
    text-align: left;
}
footer picture, header picture, main picture {
    min-height: 1px;
}

@media only screen and (max-width: 768px) {
    section {
        padding: 10vw 5vw;
    }
    picture.sm-130 {
        max-width: 130px;
    }
    .sidealign, .sidealign.mobile-container-bottom {
        flex-direction: column;
    }
    .sidealign .sidealign-image img {
        margin-bottom: 20px;
    }
    .sidealign .primary, .sidealign .secondary, .sidealign .sidealign-image {
        margin-left: auto;
        margin-right: auto;
    }
    .sidealign .text-container {
        text-align: center;
    }
    .nav {
        padding: 0 12px 0 20px;
    }
    .nav a.image {
        max-height: 52px;
        padding: 0 12px;
        width: 64px;
    }
    .nav .secondary {
        padding: 8px 12px;
        background-color: rgba(0, 0, 0, 0.8);
        border-color: silver;
    }
    .hero {
        min-height: 70vh;
        padding: 40vw 5vw 20vw;
    }
    .hero.sm-align-center {
        justify-content: center;
    }
    .hero.sm-align-left {
        justify-content: flex-start;
    }
    .hero .background.sm {
        background-position: top;
        background-size: 100%;
        display: block;
    }
    .hero.sm-align-center .hint,
    .hero.sm-align-left .hint {
        left: auto;
        margin: 0 auto;
    }
    .hero picture {
        margin-bottom: 3vw;
    }
    .hero .content {
        max-width: 500px;
        width: 100%;
    }
    .hero .content.container-medium {
        max-width: 500px;
    }
    .hero.mobile-pushdown-large {
        padding-top: 50vw;
    }
    .sm-text-center {
        align-items: center;
        text-align: center;
    }
    .sm-text-center picture {
        margin-left: auto;
        margin-right: auto;
    }
    picture.sm-180 {
        max-width: 180px;
    }
}

section {
    padding: 5.6vw;
}
footer {
    padding: 26px 8px;
    text-align: center;
}
section, footer {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
footer .logo {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}
footer a.link {
    color: silver;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    white-space: nowrap;
}
footer .fine {
    margin: 4px auto 15px;
    max-width: 1024px;
}

@media only screen and (max-width: 1024px) {
    footer {
        padding: 5vw;
    }
}

.grid-list {
    grid-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
}
.grid-list.round-image-corners picture {
    border-radius: 4px;
    overflow: hidden;
}
.mobile-one-column .grid-item {
    flex: 0 0 100%;
}
.grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.grid-item h3 {
    margin-top: 20px;
}
.grid-item.center, .grid-item.card, a.primary, a.secondary, .sidealign, .nav {
    align-items: center;
}
section.center > picture {
    display: inline-block;
}
.grid-item:last-child, footer a.link, .grid-item.card div > *, .accordion-container .accordion-child *, .grid-item.card > *  {
    margin-bottom: 0;
}
.grid-item.card {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 380px;
    padding: 60px 40px 0;
    transition: opacity 1s;
}
.grid-item.card div > *, .grid-item.card > * {
    margin-top: 24px;
}
.grid-item.card picture {
    display: inline-block;
}
.grid-item.card .griditem-footer, a.primary, a.secondary, .grid-item.card {
    width: 100%;
}
a.primary, a.secondary {
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    height: 50px;
    margin-bottom: 20px;
    max-width: 320px;
    padding: 11.5px 24px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
}
a.primary *, a.secondary * {
    margin-top: 1px;
}
a.primary {
    background: #0063e5;
    border: none;
    color: #f9f9f9;
}
a.secondary {
    border: 1px solid silver;
    color: #f9f9f9;
}
a.primary:focus, a.primary:hover {
    background: #016cf9;
    border: none;
    color: #f9f9f9;
    text-decoration: none;
}
a.secondary:focus, a.secondary:hover {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    color: #040714;
    text-decoration: none;
}
a.primary:active, a.secondary:active {
    opacity: 0.7;
    transform: scale(0.97);
    transition: 0s;
}
a.secondary.small {
    max-width: 150px;
    padding: 9px 12px;
}
button:disabled {
    opacity: 0.3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
footer img, footer picture, header img, header picture, section img, section picture {
    display: block;
    height: auto;
    width: 100%;
}
.device {
    aspect-ratio: 2;
    overflow: hidden;
}
.sidealign {
    display: flex;
}
.sidealign .text-container {
    box-sizing: border-box;
    padding: 0 2vw;
}
.nav {
    display: flex;
    height: 70px;
    left: 0;
    opacity: 1;
    padding: 0 36px;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    transition: opacity 0.5s ease-out;
    z-index: 4;
}
.nav a {
    margin: 5px;
}
.nav a.image {
    display: inline-block;
    height: auto;
    margin-right: auto;
    max-height: 70px;
    padding: 0 14px;
    transition: all 0.2s ease 0s;
    width: 80px;
}
.nav .secondary {
    background-color: rgba(0, 0, 0, 0.8);
}
.nav .secondary:focus, .nav .secondary:hover {
    background-color: #f9f9f9;
    border-color: transparent;
    color: #040714;
}
.nav.pre-sticky {
    background-color: transparent;
    justify-content: flex-end;
    opacity: 1;
    pointer-events: none;
    z-index: 3;
}
.nav.pre-sticky > * {
    pointer-events: auto;
}
.nav.post-sticky {
    opacity: 0;
    z-index: 4;
}

@media only screen and (max-width: 360px) {
    .nav {
        padding: 0 8px 0 10px;
    }
    .nav .secondary {
        font-size: 13px;
    }
}
.accordion-container {
    background-color: #13151d;
    box-sizing: border-box;
    margin-top: 16px;
    text-align: left;
    width: 100%;
}
.accordion-container button.accordion-btn {
    background: 0 0;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 24px;
    text-align: inherit;
    width: 100%;
}
.accordion-container button.accordion-btn * {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding-right: 26px;
    position: relative;
    width: 100%;
    color: #f9f9f9;
}
.accordion-container button.accordion-btn :after {
    color: #f9f9f9;
    content: "+";
    font-size: 40px;
    line-height: 0.8;
    position: absolute;
    right: 0;
    top: calc(50% - 16px);
}
.accordion-container .accordion-child {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 24px;
    transition: max-height, 0.25s ease-in-out;
}
.accordion-container .accordion-child * {
    margin-top: 16px;
}
.accordion-container .accordion-child :first-child, .accordion-container:first-child, .nav a.secondary *, .grid-item.card div > :first-child, .grid-item.card h2 + p, .grid-item.card h3 + p, .grid-item.card h5 + p, .grid-item.card:first-of-type, .grid-item.card > :first-child {
    margin-top: 0;
}

.hero {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: 5.6vw;
    position: relative;
}
.hero, .hero .content {
    box-sizing: border-box;
}
.hero .content {
    width: 50%;
    z-index: 1;
}
.hero .content > :last-child {
    margin-bottom: 0;
}
.hero .background {
    background-repeat: no-repeat;
    bottom: 0;
    display: none;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.hero.bg-100 .background.lg {
    background-position: top;
    background-size: 100%;
}
.hero .hint {
    -webkit-animation: bounce 1.75s infinite;
    animation: bounce 1.75s infinite;
    background-color: transparent;
    border: none;
    bottom: 2vw;
    cursor: pointer;
    font-size: 0;
    height: 48px;
    margin: 0 auto;
    opacity: 0.65;
    padding: 6px;
    position: absolute;
    width: 48px;
}
.hero .hint:hover {
    opacity: 1;
}
.hero .hint .down {
    fill: #f9f9f9;
    pointer-events: none;
}
.hero.lg-align-center .hint {
    left: auto;
    margin: 0 auto;
}
.hero.lg-align-left .hint {
    left: 5.6vw;
    margin-left: -14px;
}
@supports (-webkit-touch-callout: none) {
    @media only screen and (min-width: 769px) {
        .hero {
            min-height: calc(100vh - 60px);
        }
    }
}
.top {
    justify-content: flex-start;
}
.mobile-one-column .grid-item {
    flex: 0 0 100%;
}